<% if current_user.liked_by?(post.id) %>
  <!--<p> -->
    <%= link_to destroy_like_path(post), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <%= post.likes.count %>
  <!--</p>-->
  <% end %>
<% else %>
  <p>
    <%= link_to create_like_path(post), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= post.likes.count %>
  </p>
<% end %>